.opening
    @include meta
    background: black
    color: white
    text-align: center
    padding: $spacing-1
    @include media-breakpoint-down(desktop)
        display: none
#document-header
    @include media-breakpoint-up(desktop)
        padding-top: $spacing-5
    #navigation
        text-transform: uppercase
        *
            font-weight: bold
        @include media-breakpoint-up(desktop)
            .nav-level-1
                > li
                    margin-left: $spacing-3
#document-footer
    padding-top: 0 !important
    .nav-footer *
            @include meta
    .footer-logo
        position: relative
        .footer-text
            @include meta
            margin-top: $spacing-5
            @include media-breakpoint-up(desktop)
                max-width: columns(5)
        .footer-partners
            position: absolute
            top: 0
            @include media-breakpoint-down(desktop)
                right: 0
                img
                    height: $footer-logo-height
            @include media-breakpoint-up(desktop)
                left: 300px
                img
                    height: $footer-logo-height-desktop
.page__home
    @include media-breakpoint-up(desktop)
        .blocks
            > .block-projects--alternate
                &::before
                    background: $color-background-alt
                    content: ""
                    height: 250px
                    position: absolute
                    top: -250px
                    width: 100%
                    z-index: -1
.block
    &-projects
        &--alternate
            background: black
            *,
            a
                color: white !important
            .container
                padding-bottom: $spacing-5
                padding-top: $spacing-5