.block
    &-projects
        &--alternate
            background: black
            *
                color: white
            .container
                padding-bottom: $spacing-5
                padding-top: $spacing-5