<div class="container">
  <div class="footer-logo">
    {{ partial "footer/logo.html" }}
    <div class="footer-partners">
      <img src="/assets/images/logo-institut-français.svg" alt="Institut Français"  height="124" width="202">
    </div>
    <p class="footer-text">
      La Villa Kujoyama est un établissement artistique du réseau de coopération culturelle du Ministère de l’Europe et des Affaires étrangères. Relevant de l’Institut français du Japon, elle agit en coordination avec l’Institut français et bénéficie du soutien de la Fondation Bettencourt Schueller, qui en est le mécène principal.
    </p>
  </div>
  <div class="footer-site">
    {{ $menu := partial "GetMenu" "footer" }}
    {{ if $menu }}
      {{ partial "commons/menu.html"
        (dict
          "kind"        "footer"
          "level"       1
          "class"       "nav-footer"
      )}}
    {{ end }}
  </div>
</div>
{{ partial "footer/i18n.html" . }}
<div class="container">
  <div class="footer-social">
    {{ partial "footer/social.html" }}
  </div>
  <div class="footer-legals">
    {{ partial "footer/legals.html" }}
  </div>
</div>
